extends ../../../jeebus/base/layout

block title
  title JeeBoot

block styles
  link(rel='stylesheet',href='/app.css')
  
//- omit navigation menu and footer
block nav
block footer

block scripts
  script console.log('READY');
  script(src='/jeeboot.js')
