.row
  .large-12.columns
    p
    h2 JeeBoot server
    
    .row
      .large-5.columns
        h4 Firmware
        table
          tr
            th SwID
            th File
          tr(ng-repeat='(swid,row) in swid')
            td {{ swid }}
            td {{ row.file }}
            td: a(ng-click='fwDel(swid)') x

        p.drop-box(on-file-drop='onFileDrop($files)') To upload, drop file here

      .large-7.columns
        h4 Node allocations
        table
          tr
            th Board
            th Group
            th Node
            th SwID
            th HwID
          //- TODO sort won't work on objects
          tr(ng-repeat='(hwid,row) in hwid | orderBy:["board","group","node"]')
            td {{ row.board }}
            // TODO there has to be a cleaner way to forward these changes!
            td(contentEditable='true',on-blur='hwSave(hwid,"group",$value)')
              | {{ row.group }}
            td(contentEditable='true',on-blur='hwSave(hwid,"node",$value)')
              | {{ row.node }}
            td(contentEditable='true',on-blur='hwSave(hwid,"swid",$value)')
              | {{ row.swid }}
            td {{ hwid }}
            td: a(ng-click='hwDel(hwid)') x

style(type='text/css').
  div[contentEditable] {
    cursor: pointer;
    background-color: #D0D0D0;
  }
